.card-title {
  font-size: 0.8em;
  align-self: center;
  font-weight: bold;
  color: #5c5c5c;
  margin: 10px 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 0fr)); /* Adjust column size as needed */
}

.card {
  line-height: 0.4;
    position: relative;
    align-self: center;
    align-items: center;
    width: 85%;
    background-color: #88f7c5;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
    transform: translateX(9px);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .card.selected {
    background-color: #72e3ca;
  }
  
  .card.prereq-not-satisfied {
    background-color: #ff9999; /* Different color for unmet prerequisites */
  }
  
  .card:hover {
    transform: translateY(-1px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  }
  
  
  
  .card-text {
    font-size: 0.6em;
    line-height: 1.2;
    color: #5c5c5c;
    margin: 5px 0;
    flex-grow: 1;
  }
  
  .card-mc-grade {
    font-size: 0.6em;
    color: #333;
    margin: 10px 0;
  }

  .card-classification {
    font-size: 0.6em;
    color: #333;
    margin: 10px 0;
  }
  
  @media (max-width: 600px) {
    .card {
      width: 100%;
      margin: 10px auto;
    }
    .card-image {
      height: 120px;
    }
  }
  