  .about-nav-right {
    margin-left: 20px;
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px;
    box-sizing: border-box;
    color: black; /* Ensure text is readable over the background image */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); /* Add text shadow for readability */
    height: 100%; /* Ensure it takes full height */
  }
  .about-nav-right .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 1s ease-in-out;
  }
  .about-nav-right .background.hidden {
    opacity: 0;
  }
  .about-nav-right .content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .content h1 {
    align-self: flex-start;
    font-size: 38px;
    margin-bottom: 20px; /* Add margin to separate the title from the paragraph */
  }
  .about-centered-paragraph {
    max-width: 80%;
    background-color: rgba(255, 255, 224, 0.6); /* Pale yellow background with transparency */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto; /* Horizontally center the paragraph */
    color: black;
    font-size: 20px;
  }