/* .time-table {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 2px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
} */

.time-slot {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 2px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.hrows {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}


.tmp {
  font-size: 5px;
}

.timetablecontainer {
  display: flex;
  flex-direction: row;
  width: 100%; /* Ensure the container takes full width */
}

.timetablecontainer > div {
  flex-grow: 1; /* Makes each child div expand to fill available space */
}

.timing {
  /* transform: translateY(-3px); */
  max-width: 60px;
  line-height: 1.42;
  z-index: 100000;
}
.weekday-header{
  font-size: large;
  transform: translateY(23px);
  margin-bottom: -10px;
}