.timetable-container {
  display: flex;
  justify-content: baseline;
  margin-left: -6.25em;
  flex-direction: column;
}

.timetable-grid {
  margin-left: 12.25em;
  display: grid;
  grid-template-columns: 5em repeat(5, 1fr);
  grid-template-rows: auto repeat(28, 1.875em);
  gap: 0.0625em;
  background-color: #ffffff;
}

.timetable-header {
  display: contents;
}

.timetable-time-header, .timetable-day-header {
  height: 1.875em;
  background-color: #e6e6e6;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  grid-row: 1;
  border: 0.0625em solid #ccc;
  font-size: 0.85em;
}

.timetable-time-slot {
  background-color: #ececec;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  grid-column: 1;
  font-size: 0.85em;
  border: 0.0625em solid #ccc;
}

.timetable-body {
  display: contents;
}

.timetable-slot {
  background-color: #ffffff;
  text-align: baseline;
  border: 0.0625em solid #b6b6b6;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
  border-radius: 0.25em;
  padding: 0.25em;
  margin: 0.0625em;
  font-size: 1.45vh;
  font-size: 0.75vw;

}

.palette-selector {
  margin-left: 12.25em;
  margin-top: 0.625em;
  height: 0.9375em;
  display: flex;
  align-items: center;
  margin-bottom: 0.625em;
}

.palette-selector label {
  margin-right: 0.625em;
  font-weight: bold;
}

.palette-selector select {
  padding: 0.125em;
  border-radius: 0.25em;
  border: 0.0625em solid #ccc;
  font-size: 0.875em;
}

.credit {
  align-self: flex-end;
  font-size: 0.625em;
}

@media (max-width: 48em) {
  .timetable-container {
    margin-left: 0;
    flex-direction: column;
  }

  .timetable-grid {
    margin-left: 0;
    font-size: 0.85em;
    line-height: 1;
    display: grid;
    grid-template-columns: 24px repeat(5, minmax(61px, 1fr));
    grid-template-rows: auto repeat(28, 2em);
    width: 100%; /* Ensure the grid takes the full width of the container */
  }
  

  .palette-selector {
    margin-left: 0;
  }
  .timetable-day-header {
    height: 1.875em;
    background-color: #e6e6e6;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    grid-row: 1;
    border: 0.0625em solid #ccc;
    font-size: 0.75em;
  }
  .timetable-time-header{
    height: 1.875em;
    background-color: #e6e6e6;
    text-align: center;
    display: flex;  
    align-items: center;
    justify-content: center;
    font-weight: bold;
    grid-row: 1;
    border: 0.0625em solid #ccc;
    font-size: 1em;
  }
  .timetable-time-slot {
    background-color: #ececec;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    grid-column: 1;
    border: 0.0625em solid #ccc;
    font-size: 0.55vh;
  }
}
