.map-nav-right {
  margin-top: 5.8em;
  flex-grow: 1;
  padding: 0.5em;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: #333;
  text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.4);
  margin-left: 12.5rem;
}

.credit-section {
  font-size: 0.5rem;
  display: flex;
}

.venue-info-list {
  font-size: 0.75rem;
}

.credit-section {
  font-size: 0.5rem;
  display: flex;
}

.custom-popup {
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 100000000;
  white-space: nowrap;
  pointer-events: none; /* Prevent interfering with map interactions */
}

.custom-popup-content {
  text-align: center;
}



@media (max-width: 768px) {
  .map-nav-right {
    margin-left: 0;

    margin-top: 6.2em;
    text-shadow: 0.03125rem 0.03125rem 0.0625rem rgba(0, 0, 0, 0.4);
  }

  .credit-section {
    font-size: 0.375rem;
  }

  .venue-info-list {
    font-size: 0.625rem;
  }
}
