.studyplan-container {
  width: 80%;  /* Adjust width as needed */
  max-width: 100%;
  margin: 0 auto;  /* Center align if needed */
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
  text-align: left;  /* Aligns text and inline elements to the left */
  display: flex;  /* Makes the container a flex container */
  flex-direction: column;  /* Aligns children vertically */
  align-items: flex-start;
  overflow: auto;
}

.dynamic-table-container {
  max-width: 100%;
  width: 100%;  /* Adjust width as needed */
  margin-top: 20px;  /* Space between ModuleForm and DynamicTable */
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}

