.feedback-nav-right {
  margin-top: 4.75em;
  width: 100%;
  flex-grow: 1;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem; 
  color: #333;
  box-sizing: border-box;
}

.feedback-nav-right > div {
  width: 100%;
}

.feedback-nav-right h1 {
  text-align: center;
  color: #69707A;
}

.feedback-nav-right h2 {
  text-align: left;
  margin-top: 0;
  color: #2C3E50;
  border-bottom: 0.125rem solid #1abc9c; 
  padding-bottom: 0.625rem; 
  margin-bottom: 1.25rem; 
}

.feedback-nav-right p {
  text-align: justify;
  color: #888;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-size: 1.25rem;
  margin: 0; 
}

.feedback-nav-right .feedback-prefix {
  text-align: left;
  color: #888;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.feedback-nav-right .feedback-prefix .report-button {
  margin-left: 2.5rem;
}

.feedback-nav-right .form-group .feedbackform {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0;
}

.form-group {
  margin-bottom: 1.25rem;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

textarea {
  width: 100%;
  height: 12.5rem;
  padding: 0.625rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  resize: vertical;
  box-sizing: border-box; 
}

.feedback-prefix button {
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #1abc9c;
  display: inline-block;
  margin: 1.25rem;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
}

.feedback-button, .submit-button {
  padding: 0.625rem 1.25rem;
  background-color: #1abc9c;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  display: block;
  margin: 1.25rem auto;
}

button:hover {
  background-color: #16a085;
}

#response-message {
  margin-top: 1.25rem;
  color: green;
  text-align: center;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); 
}

.modal.show {
  display: block;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 1.25rem;
  border: 0.0625rem solid #888;
  width: 80%; 
  max-width: 25rem;
  text-align: center;
  border-radius: 0.25rem;
  position: relative;
}

.modal-content p {
  margin: 0; 
  padding: 1.25rem 0;
  text-align: center;
}

.close {
  position: absolute;  
  right: 1.25rem;
  top: 0.625rem;
  color: #aaa;
  font-size: 1.75rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


@media (max-width: 768px) {
  .feedback-nav-right {
    padding: 1rem;
  }

  .feedback-nav-right h1 {
    font-size: 1.5rem;
  }

  .feedback-nav-right h2 {
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }

  .feedback-nav-right p,
  .feedback-nav-right .feedback-prefix,
  .feedback-nav-right .feedback-prefix .report-button,
  .feedback-nav-right .form-group .feedbackform,
  textarea,
  .feedback-prefix button,
  .feedback-button,
  .submit-button {
    font-size: 0.875rem;
  }

  .feedback-nav-right p {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  textarea {
    height: 10rem;
    padding: 0.5rem;
  }

  .modal-content {
    padding: 1rem;
    max-width: 20rem;
  }

  .modal-content p {
    padding: 1rem 0;
  }

  .close {
    right: 1rem;
    top: 0.5rem;
    font-size: 1.5rem;
  }
}
