.timetable-nav-right {
    margin-top: 5em;
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1.25em;
    box-sizing: border-box;
    color: black;
    height: 100%; 
    margin-left: 12rem;
}

.timetable-nav-right h2 {
    margin-bottom: 1.25em;
}

@media (max-width: 48em) {
    .timetable-nav-right {
        width: 100%;
        padding: 0.625em;
        margin-top: 5em;
        margin-left: 0;

    }

    .timetable-nav-right h2 {
        margin-bottom: 0.625em;
    }
}
