.table {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 20px; /* This adds space between your columns */
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1; /* This makes each column take up equal space */
  gap: 10px; /* This adds space between your cards */
}

.card {
  /*flex-grow: 1; /* This makes each card expand to fill the column */
  border: 1px solid #ccc; /* Optional, for styling */
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional, for styling */
}
.counter-box {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: blanchedalmond;
  color: black;
  padding: 5px;
  text-align: left;
}

.counter-box:hover {
  transform: scale(1.0);
  z-index: 10;
}

.counter-box-breakdown {
  display: none;
  position: absolute;
  bottom: 0;
  left: 5;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  text-align: left;
}

.counter-box:hover .counter-box-breakdown {
  display: block;
}


