.footer-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 24px; 
  background-color: #0a756d; 
  color: white;
  
}

.sym {
  margin-right: 20px;
  align-self: center; 
}

.credit-section {
  justify-content:end;
  align-items: baseline;
}