
  .row {
    display: flex;
    margin-bottom: 20px;
  }
  
  .row{
    margin-right: 0px;
  }
  
  .horizontal-table {
    height: 100%;
    max-width: 100%;
    display: flex;
    padding: 10px;
    gap: 10px; /* This adds space between your columns */
    box-sizing: border-box; /* Makes padding and border part of the width */
    align-items: flex-start;
    flex-direction: column;
    border: black solid ;    /* guideline to be removed*/
  }
  

  
  
  

  

  

  
  
  

  

  

  