html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

body {
  font-family: Arial, sans-serif;
}

header {  
  background-color: #11182a;
  color: white;
  padding: 20px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures proper spacing */
  width: 100%; /* Full width */
}

.header-left {
  display: flex;
  align-items: center;
}

.logo-link {
  text-decoration: none;
  color: inherit; /* Ensures the text color is inherited */
}

.logo-link:hover {
  text-decoration: none;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo-container img {
  height: 60px;
  margin-right: 10px;
}

.logo-container span {
  font-size: 40px;
  font-weight: bold;
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

.title-container p {
  margin: 0;
  font-size: 40px;
}

.home-scroll-container {
  flex-grow: 1;
  display: flex;
  justify-content: right;
  align-items: center;
  overflow: hidden; /* Hide overflow to create the scrolling effect */
  white-space: nowrap; /* Prevents wrapping of the content */
  margin-right: 45px;
}

.home-scroll-content {
  display: inline-block;
  font-size: 16px;
  color: white;
  text-align: center;
}

.home-scroll-content a {
  color: #ADD8E6; /* Change link color to light blue */
  text-decoration: underline; /* Underline links */
}

.home-scroll-content a:hover {
  color: #9FC4E6; 
}

.date-container {
  font-size: 16px;
  color: white;
  margin-right: 60px; /* Adjust right margin */
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  flex-grow: 1;
}

nav {
  display:flex;
  flex-direction: column;
  flex-shrink: 0; 
  background-color: #0a756d;
  width: 180px;
  height: 100%;
  box-sizing: border-box;
  z-index: 10000;
  font-size: 20px;
}

.nav-left {
  width: 100%;
  height: 100vh;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0; /* Remove margin between list items */
  
}

.nav-button {
  width: 100%;
  height: 88px; /* Set height for the buttons */
  background-size: 50%;
  background-position: right -15px bottom -15px; /* Position the background image in the right bottom corner with a vertical offset */
  background-repeat: no-repeat; /* Ensure the background image does not tile */
  border: none; /* Remove border */
  color: white; /* Text color */
  font-size: 18px;
  padding-right: 10px;
  background-color: #0a756d;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align content to the right */
  cursor: pointer;
  text-decoration: none; /* Remove underline from text */
  transition: background-color 0.3s ease;
}

.nav-button span {
  /* background-color: rgba(0, 0, 0, 0.5);  */
  padding: 5px 10px;
  border-radius: 5px;
}

.nav-button:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Slightly change background on hover */
}

.page-content {
  flex-grow: 1;
}

.join-us-container {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Space between the "Join us" section and the "About Us" section */
  text-decoration: none;
}

.join-us-icon {
  width: 24px; /* Adjust size as needed */
  height: 24px; /* Adjust size as needed */
  margin-right: 8px; /* Space between the icon and text */
  transition: transform 0.3s ease; /* Smooth transition for icon enlargement */
}

.join-us-container .join-us-icon:hover {
  transform: scale(1.1); /* Slightly enlarge the icon on hover */
}

.join-us-text {
  color: white; /* Adjust color as needed */
  text-decoration: none;
}

.join-us-container .join-us-text:hover {
  color: antiquewhite; /* Light color on hover (anti-white) */
}

.about-us-container {
  margin-right: 20px; /* Space between the "About Us" section and the date */
}

.about-us-link {
  color: white; /* Adjust color as needed */
  text-decoration: none;
}

.about-us-link:hover {
  text-decoration: none;
  color: antiquewhite;
}

.footer-container {
  z-index: 20;
}
