html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

body {
  font-family: Arial, sans-serif;
}

header {  
  background-color: #2C3E50;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures proper spacing */
  width: 100%; /* Full width */
}

.header-left {
  display: flex;
  align-items: center;
}

.logo-link {
  text-decoration: none;
  color: inherit; /* Ensures the text color is inherited */
}

.logo-link:hover {
  text-decoration: none;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo-container img {
  height: 60px;
  margin-right: 10px;
}

.logo-container span {
  font-size: 28px;
  font-weight: bold;
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

.title-container p {
  margin: 0;
  font-size: 24px;
}

.scroll-container {
  flex-grow: 1;
  display: flex;
  justify-content: right;
  align-items: center;
  overflow: hidden; /* Hide overflow to create the scrolling effect */
  white-space: nowrap; /* Prevents wrapping of the content */
  margin-right: 45px;
}

.scroll-content {
  display: inline-block;
  animation: scroll 3s infinite; /* Animation to smoothly transition sentences */
  font-size: 16px;
  color: white;
  text-align: center;
}

.scroll-content a {
  color: #ADD8E6; /* Change link color to black */
  text-decoration: underline; /* Remove underline from links */
}

.scroll-content a:hover {
  color: #9FC4E6; 
}

/*@keyframes scroll {
  0% { opacity: 0; }
  10% { opacity: 1; }
  80% { opacity: 1; }
  90% { opacity: 0; }
  100% { opacity: 0; }
}*/

.date-container {
  font-size: 16px;
  color: white;
  margin-right: 60px; /* Adjust right margin */
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  flex-grow: 1;
}

nav {
  flex-shrink: 0;
  background-color: #f0f0f0;
  padding: 0;
  width: 150px;
  height: 100%;
  box-sizing: border-box;
  z-index: 10000;
}

.nav-left {
  width: 100%;
  height: 100vh;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 10px 0;
}

nav ul li a {
  color: gray;
  text-decoration: none;
  padding: 10px;
  display: flex;
  align-items: center;
}

nav ul li a.active {
  color: red;
}

nav ul li a span {
  margin-left: 8px;
}

nav ul li a:hover {
  color: red;
}

nav ul li a:hover span {
  text-decoration: underline;
}

.page-content {
  flex-grow: 1;
}
